#Compiled class file
*.class

#Log File
*.log

#BlueJ files
*.ctxt

#Mobile Tools for Java(J2ME)
.mtj.tmp/

# Package FIles
*.jar
*.war
*.ear
*.zip
*.tar.gz
*rar

#JavaStory git ignore File.
/.metadata/
